<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Marketplace</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Marketplace</p>
    <a href="/product/">Show products</a>
    <a href="/user/">Show users</a>
    <br />
    <a href="/product/add">Add product</a>
    <a href="/user/add">Add user</a>
    <br />
    <a href="/product/delete">Delete product</a>
    <a href="/user/delete">Delete user</a>
    <br />
    <a href="/purchase">Show purchases</a>
    <a href="/purchase/add">Make a purchase</a>
</body>
</html>