<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add product</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>
        <h1>Add product</h1>
        <form action="/product/add" method="post">
            <input type="text" name="name" placeholder="Enter name">
            <input type="number" step=".01" name="price" placeholder="Enter price">
            <button type="submit">Add</button>
        </form>
        <br />
        <a href="/">Back to Home Page</a>
    </div>
</body>
</html>