<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add user</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>
        <h1>Add user</h1>
        <form action="/user/add" method="post">
            <input type="text" name="firstName" placeholder="Enter first name">
            <input type="text" name="lastName" placeholder="Enter last name">
            <input type="number" step=".01" name="amountOfMoney" placeholder="Enter amount of money">
            <button type="submit">Add</button>
        </form>
        <br />
        <a href="/">Back to Home Page</a>
    </div>
</body>
</html>